################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProCleanArchitecture/.vs/ProCleanArchitecture.slnx/FileContentIndex/17020791-0134-412c-aace-11264675b629.vsidx
/ProCleanArchitecture/.vs/ProCleanArchitecture.slnx/FileContentIndex/287449c8-1e78-40ad-ba54-f7325c2e3116.vsidx
